body{margin: 0;background-color: black;}
* {
    box-sizing: border-box;
}
main{width: 80%;margin: auto;}
#topImage {
    border: 0.5px solid black;
   height: 300px;
    background:url(../images/topImage.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: blur(1px);
}
#topImageNew {
    background-image: url("https://komvux.helsingborg.se/wp-content/uploads/sites/130/2017/05/gymnasial-1800x350.jpg");
    height: 350px;
    background-position: center ;
    background-size: 100% 100%;
    position: relative;
    background-repeat: no-repeat;
  }

.imageTopText{
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  
}
/* Create three equal columns that floats next to each other  border: blue;border-style: double; */
.column {
    float:left;
    width: 33.33%;
    padding: 10px;
    height:auto; 
    text-align: center;
    
}
.column1 {
    margin-top:27px;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.contactbk:after {
    content: "";
    display: table;
    clear: both;
}
#sliderSec{background-color:#eae2d6;}
.topText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.sliderImages{
   width:55%;
   height: 33%; 
   padding-top: 6%;
   padding-bottom: 5%;
   text-align: center;
  margin: auto;
  
}
#sliderSec img{
    height: 120px;
    width: 120px;
}
.col{
    width: 50%;
    float: left;
    padding: 10px;
    height:auto; 
}
.contactbk{background-color:#867666;}
.row{background-color:#fcfdfe;}
#bottom{
    text-align:center;
    background-color: black;
    color: aliceblue;
}
#imagesSec img{
    height: 150px;
    width: 150px;
    border-radius:60%;
}
#imagesSec {background-color: #fff;}
#imagesSec h1{text-align: center;padding-bottom: 16PX;}
#imagesSec a{border-bottom: 3px solid red;padding-top: 20PX;}
#imagesSec p{width: 45%;position:relative;margin:auto;}
.teachers{padding-top: 15px;font-family: 'Montserrat', sans-serif;}
.contact{padding-top: 10px;font-family: 'Montserrat', sans-serif;text-align: center;}
hr{border: 0; 
    height: 3px; 
    width: 13%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); }
#imagesSec h2{font-family: 'Roboto', sans-serif;}
legend{font-weight:bolder;font-size:25px;color:#000;}
.columSlider{flex: 25%;}
.columSlider img {opacity: 0.7; cursor: pointer;}
.columSlider img:hover{opacity: 1;}
/*.columSlider>img{border-radius: 10%;}*/
.sliderImages {display: flex;}
.button {
    background-color: #FFF; ; 
    border: none;
    color:#000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: grey;
    color: #000;
}
#sliderSec p{width: 40%;position:relative;margin:auto;text-align: center;padding-bottom: 20px;}
.sticky + .content {
    padding-top: 60px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
nav{overflow: hidden;}
.icon{
    display: none;
    color: #000;
}
 #Listing{
                list-style-type:none;  
                margin:0;  
                padding:0;  
                height:50px;  
                background-color:#ee693f;  
                font-family:Arial;  
                font-size:0.9em; 
                /*margin-top: -33px;*/
                    
                }
#Listing li{
                text-align: center;
                
                width: 200px;
                height:30px;  
                line-height:50px; 
                display: inline-block;
                }
#Listing li a {  
                display:block;  
                padding:0 20px;  
                color:#FFF;  
                text-decoration:none;  
                padding-right: 10px;
                }  
 #Listing li a:hover {  
                background-color:#f69454;  
                text-decoration:none;  
                transition: 1.5s;
                } 
li a.active {background-color: #f69454;color: white;}
#sliderSec a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 8px 10px;
                    height:120px;
                    padding-top: 48px;
                }
                
#sliderSec a:hover {
                    background-color: rgb(143, 77, 38);
                    color: white;
                }
                
.previous {background-color: #555555; color: white;}
.next {background-color: #555555;color: white;}
.footer{ text-align:center;height: 60px;background-color: #555555;margin-top: -22px;}
#topSec h1{font-size:50PX;}
#topSec p{font-size:25PX;}
.iframe{width:400px; padding-top:12px;height:335px;border:0}
.imagesSecDiv{width:70%;height:auto;margin-left: auto;margin-right: auto;}
.formSpace{font-size:16px;margin: 10px;outline-offset: 5px;}

